html,
body {
    background: #f9def8;
    display: block;
    min-width: 1100px;
}/*
*/body, input {
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    color: #525252;
    line-height: 100%;
}/*
убирает отступы везде, по сути обнуляет, также наследует шрифты
*/
*,
*:before,
*:after {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px;
    font: inherit;
}

body, article, aside, footer, header, hgroup, main, nav, section, div {
    display: block;
}

.container {
    position: absolute;
    width: 100%;
    max-width: 100%;
    display: block;
}

.header-wrap {
    margin: 0;
    padding: 0;
}

.header-wrap {
    width: auto;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.header-wrap .site-nav ul:after, 
.header-wrap:after, 
.main:after, 
.clearfix:after, 
.clearfix {
    display: block;
    clear: both;
    content: '';
}

.menu-wrap {
    width: 100%;
    box-shadow: 0px 0.05vw 0.1vw rgba(0,0,0,0.2);
    background: #f9def8;
    display: block;
    position: fixed;
    line-height: 4vh;
    overflow: hidden;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    z-index: 1000;
}

 .push {
      height: 6vh;
      position: relative;
      overflow: hidden;
    }

.menu {
    width: 100%;
    margin: 0px auto;
    
}

ul {
    width: 100%;
}

.menu > ul > li {
    display: inline-block;
    margin-right: 10%;
    list-style: none;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 300;
/*    padding-top: 20vh;*/

}

.menu > ul > li > a {
    font-size: 1.1vw;
/*    padding: 5px 40px;*/
    display: inline-block;
/*    text-shadow: 0px 1px 0px rgba(0,0,0,0.4);*/
    text-decoration: none;
}

.menu a {
    transition: all linear 0.15s;
    color: #734971;
}

.menu li:hover > a, .menu .current-item > a {
	text-decoration:none;
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
        }

        @keyframes shake {
        10%, 90% {
        transform: translate3d(-1px, 0, 0);
          }
  
        20%, 80% {
        transform: translate3d(2px, 0, 0);
        }

        30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
        }

        40%, 60% {
        transform: translate3d(4px, 0, 0);
        }
    }*

.title {
    position: relative; 
    z-index: 999;
    }
    
.site-logo {
    position: relative;
    display: inline-block;
    transition: 1s;
    -moz-transition: opacity linear 1s;
    -webkit-transition: opacity linear 1s;
    -o-transition: opacity linear 1s;
    -ms-transition: opacity linear 1s;
/*    overflow: hidden;*/
text-align: center;
}

.site-logo img {
    width: 8vw;
    margin-top: 2vw;
    
}

.site-logo:hover {
    opacity: 0.2;
}

span {
    display: inline-block;
    position: relative;
    /*opacity: 0.9;*/
}
.one {
    font-family: PT Sans, sans-serif;
/*    line-height: 5em;*/
    color: #734971;
/*    padding-top: 10px;*/
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: 100;
    line-height: 2.1em;
}

/*.two {
    height: 5vh;
    position: relative;
}*/
.site-tagline {
    display: block;
    opacity: 0.4;
    font-family: Lora, serif;
    font-style: italic;
    font-weight: 400;
    font-size: 2.5vw;
    color: #BF82BC;
    line-height: 7vh;
    padding-bottom: 2vh;
}

a {
    text-decoration: none;
}

.HzLine {
   background-attachment: scroll;
   background-clip: border-box;
    background: linear-gradient(to right,#f9def8,#734971,#f9def8);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
   background-origin: padding-box;
   background-size: auto;
   display: block;
/*   font-size: 18px;*/
   height: 1.5vh;
   line-height: 1.5vh;
   position: relative;
}

.section-intro {
    position: relative;
    height: 70vh;
    background-color: #734971;
}

.intro {
    display: block;
    font-family: Lora, serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1.8vw;
    color: #BF82BC;
    line-height: 2.5vw;
    text-align: center;
/*    padding-top: 50vh;*/
}

.wrap-photo {
    padding-top: 5vh;
   
}
.photo {
    width: 20vw;
/*    border: 10px solid #f9def8;*/
    border-radius: 15vh;
    box-shadow: 0 0 0.5vw #f9def8;
}

.projects {
    height: 100vh;
}

.blocks {
    text-align: center;
}

.bl {
    height: 30vh;
    width: 40vh;
    margin: 5vw;
    margin-top: 10vh;
    display: inline-block;
    background: url(Logo.png) 100% 100% no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0px 1vw 2vw -0.5vw #734971;
    -moz-box-shadow: 0px 1vw 2vw -0.5vw #734971;
    box-shadow: 0px 1vw 2vw -0.5vw #734971;
}

.block1 {
    background: url(Tribute.png) 100% 100% no-repeat;
    background-size: cover;
}

.social {
     height: 100vh;
     position: relative;
}

.imgs {
/*    height: 500px;*/
/*    width: 100%;*/
    margin-top: 10vh;
    text-align: center;
}

.img {
    margin-top: 25vh;
    display: inline-block;
    background-size: cover;
}

.fb,
.git,
.tweet,
.vk {
    width: 25vh;
}

.fb,
.git,
.tweet {
    margin-right: 6vw;
}

h1 {
    margin-top: 20vh;;
    margin-bottom: -5vh;
    display: block;
    opacity: 0.6;
    font-family: Lora, serif;
    font-style: italic;
    font-weight: 400;
    font-size: 4.5vw;
    color: #BF82BC;
}
.footer-last {
    height: 40vh;
}

.helpfull {
    height: 50vh;
    margin-top: 15vh;
    text-align: center;
}

.helpfull h2 {
    font-family: Lora, serif;
    font-style: initial;
    font-weight: 400;
    font-size: 1.25vw;
    color: #734971;
    padding: 2vh;
    line-height: 5vh;
}

.footer-wrapper {
    background-color: #734971;
    position: relative;
    height: 50vh;
}

.footer-menu {
    text-align: left;
    padding-top: 6vh;
/*    width: 40vw;*/
    display: inline-block;
/*    border: 1px solid white;*/
}

.bottom-menu {
    line-height: 5vh;
    font-size: 2.2vh;
    margin-left: 5vw;
    padding-top: 6vh;
}
.bottom-menu>li>a {
    color: #E6AAE3;
    margin: 2vw;
}

li {
    list-style-type: none;
}
.contacts {
    position: relative;
    display: inline-block;
    text-align: center;
    color: #290527;
    font-size: 2.8vh;
/*    border: 1px solid white;*/
    width: 50vw;
    line-height: 4vh;
    margin-left: 17vw;
    padding-top: 17vh;
    vertical-align: top;
    font-style: italic;
    font-weight: 400;
}

.email {
    color: #E6AAE3;
}













